.tour-highlight {
  border: 2px solid red !important;
  border-radius: 4px;
}

.action-footer{
   min-height: 4rem;
            background-color: #E8E8E8;
            width: 100%;
            position: absolute;
            bottom: -15px;
            left: -0.1%;
            display: flex;
            align-items: start;
            padding: 1rem;
}
 .shepherd-theme-arrows {
  background: #fff;
  color: #000;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  font-family: sans-serif;
}
.shepherd-content {
  padding: 1px 1.5px;
}



.shepherd-button {
  padding:  1px 1px !important;
  background-color: #000 !important;
  color: #fff;
  border: 1px solid #000;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  flex: 1 1 auto;
  min-width: 30px;
  text-align: center;
}


.shepherd-button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
  background-color: #ccc;
  color: #666!important;
}
